extends layout

block page-header
  div.carousel.slide#jumbotron(data-ride="carousel")
    div.carousel-title
      h1.hidden-xs=locals.name
      p.hidden-xs=locals.description
      p.visible-xs=locals.name
    ol.carousel-indicators
      li.active(data-target="#jumbotron" data-slide-to="0")
      li(data-target="#jumbotron" data-slide-to="1")
      li(data-target="#jumbotron" data-slide-to="2")
      li(data-target="#jumbotron" data-slide-to="3")
      li(data-target="#jumbotron" data-slide-to="4")
      li(data-target="#jumbotron" data-slide-to="5")
      li(data-target="#jumbotron" data-slide-to="6")
      li(data-target="#jumbotron" data-slide-to="7")
      li(data-target="#jumbotron" data-slide-to="8")
      li(data-target="#jumbotron" data-slide-to="9")
      li(data-target="#jumbotron" data-slide-to="10")
    div.carousel-inner
      div.item.active
        img(src="images/jumbotron/ldvcamper-jumbotron-12.jpg")
      div.item
        img(src="images/jumbotron/ldvcamper-jumbotron-2.jpg")
      div.item
        img(src="images/jumbotron/ldvcamper-jumbotron-10.jpg")
      div.item
        img(src="images/jumbotron/ldvcamper-jumbotron-3.jpg")
      div.item
        img(src="images/jumbotron/ldvcamper-jumbotron-4.jpg")
      div.item
        img(src="images/jumbotron/ldvcamper-jumbotron-5.jpg")
      div.item
        img(src="images/jumbotron/ldvcamper-jumbotron-6.jpg")
      div.item
        img(src="images/jumbotron/ldvcamper-jumbotron-7.jpg")
      div.item
        img(src="images/jumbotron/ldvcamper-jumbotron-8.jpg")
      div.item
        img(src="images/jumbotron/ldvcamper-jumbotron-9.jpg")
      div.item
        img(src="images/jumbotron/ldvcamper-jumbotron-11.jpg")
    a.left.carousel-control(href="#jumbotron", data-slide="prev")
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href="#jumbotron", data-slide="next")
      span.glyphicon.glyphicon-chevron-right

block page-content
  div.row
    div.col-md-10
      for sectionname in sectionnames
        - var bySectionName = function (item) { return item.metadata['section'] === sectionname }
        h2(id=sectionname.replace(/\s/g, ''))= sectionname
          for item in _.chain(contents['sections']).filter(bySectionName).sortBy(metadataOrder).value()
            h3(id=articleId(item))= item.metadata['title']
            section!= item.html
        div.row
          div.col-md-12.sectionadvert.hidden-xs.hidden-sm
            script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
            ins.adsbygoogle(style="display:inline-block;width:728px;height:90px", data-ad-client="ca-pub-7913617732679827", data-ad-slot="2940132661")
            script.
              (adsbygoogle = window.adsbygoogle || []).push({});
          div.col-md-12.sectionadvert.visible-xs.hidden-sm
            script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
            ins.adsbygoogle(style="display:inline-block;width:234px;height:60px", data-ad-client="ca-pub-7913617732679827", data-ad-slot="7235574660")
            script.
              (adsbygoogle = window.adsbygoogle || []).push({});
          div.col-md-12.sectionadvert.hidden-xs.visible-sm
            script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
            ins.adsbygoogle(style="display:inline-block;width:320px;height:50px", data-ad-client="ca-pub-7913617732679827", data-ad-slot="6956373067")
            script.
              (adsbygoogle = window.adsbygoogle || []).push({});
    div.col-md-2.visible-md.visible-lg
      div.sidebar#nav(data-spy="affix", data-offset-top="500")
        ul.nav
          for sectionname in sectionnames
            - var bySectionName = function (item) { return item.metadata['section'] === sectionname }
            li
              a(href='#'+sectionname.replace(/\s/g, ''))= sectionname
              ul.nav
                for item in _.chain(contents['sections']).filter(bySectionName).sortBy(metadataOrder).value()
                  li
                    a(href='#'+articleId(item))=item.metadata['title']
        div.sideadvert
          script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
          ins.adsbygoogle(style="display:inline-block;width:125px;height:125px", data-ad-client="ca-pub-7913617732679827", data-ad-slot="7370332261")
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});

block page-footer
  section
    p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
      a(href='https://github.com/jnordberg/wintersmith') Wintersmith 
      &mdash; website source on&nbsp;
      a(href='https://github.com/bazwilliams/ldvcamper.com') Github