- var sectionnames = page.metadata['sectionnames']
- var metadataTitle = function (item) { return item.metadata['title'] }
- var articleId = function (item) { return (item.metadata['section'] + item.metadata['title']).replace(/\s/g, ''); }
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title= locals.name
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/custom.css')
    script(type='text/javascript', src='/js/jquery-2.1.0.min.js')
    script(type='text/javascript', src='/js/underscore-min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
  body(data-spy="scroll" data-target="#nav")
    div.jumbotron
      div.container
        h1= locals.name
        p=locals.description
    div.container
      div.row
        div.col-md-10
          for sectionname in sectionnames
            - var bySectionName = function (item) { return item.metadata['section'] === sectionname }
            h2(id=sectionname.replace(/\s/g, ''))= sectionname
              for item in _.chain(contents['sections']).filter(bySectionName).sortBy(metadataTitle).value()
                h3(id=articleId(item))= item.metadata['title']
                section!= item.html
        div.col-md-2
          div#nav(data-spy="affix", data-offset-top="200")
            ul.nav
              for sectionname in sectionnames
                - var bySectionName = function (item) { return item.metadata['section'] === sectionname }
                li
                  a(href='#'+sectionname.replace(/\s/g, ''))= sectionname
                  ul.nav
                    for item in _.chain(contents['sections']).filter(bySectionName).sortBy(metadataTitle).value()
                      li
                        a(href='#'+articleId(item))=item.metadata['title']
    footer
      div.container
        div.row
          section
            p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
              a(href='https://github.com/jnordberg/wintersmith')= Wintersmith
              &mdash; website source on&nbsp;
              a(href='https://github.com/bazwilliams/ldvcamper.com')= Github
    script(type='text/javascript', src='/js/parseflickr.js')